html, body{
    margin: 0px;
    height: 100%;
}

.float-login{
    height: 100%;
    display: flex;
}

.loginLeft{
    padding-top: 12%;
    color: antiquewhite;
    width: 40%;
    height: 100%;
    background-color: rgb(2, 23, 90);
}

.loginRight{
    width: 60%;
    height: 100%;
    background-color: #ff6c20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.loginForm{
    margin-left: 70px;
}

.mb-3{
    margin-top: 30px;
}

form{
    width: 350px;
}

.btn{
    width: 350px;
}

.dontHaveAccount{
    margin-top: 30px;
    text-align: right;
}